---
title: Ciao Marie :)
layout: post
---

Hello Marie,  
I'm your favourite (at least, I hope so!) stranger, Marco! You know, the guy from Italy, pizza pasta waffles crepes  <br><br>
Well, to be honest, maybe I'm not so much a stranger anymore to you. As you are not anymore to me. But have we ever really been strangers to each other? I'm not so sure about that.  
It's strange, or at least, very uncommon.  
<br><br>
I still think about how everything started, and still sometimes I can't believe it. Nevertheless, it happened, it's true, and most important of it all, it's wonderful. Even when we are far (but, we have to say, not so far! I can be in Perrache very quickly as you know!), even when we are silent, even the first time we talked to each other, it never really mattered: it's like we are constantly communicating, saying something each other, being with the other one. I don't know how, I don't know why, I know nothing and maybe I don't even care anymore about knowing some things. There's just one thing that I know, because I feel it, and it everything that matters: that me being connected to you, being with you, is just so beautiful, so natural, so right, and that is all I want. To be with you, to take care of you, to give you hopefully all the best things I can, and the best of myself. You are a beautiful person, and I want to really make you feel what I feel about you. I could do a list of all the things that I like about you, that makes you such a wonderful person, but it won't be so meaningful. This is something far more complex, alive, deep than a list of things.  <br>
This is not about liking <span class="bold">things about you.</span>  <br>
This is about liking <span class="bold">you,</span> Marie.<br> About caring about you. About desiring you. When you smile, when you cry, when you're happy, when you're scared. I like you Marie, and even if someday I'll sound boring, I won't miss an opportunity to tell it to you, to try to make you see the beauty I feel every time my senses and my thoughts goes on you.  <br><br>
And well, given so, seemed very right to me to celebrate your birthday! :D 
<br><br>
Because well, I heard you're getting old, like that kind of old when you feel you're entering in a new phase of your life. Like, 27, for example. So, I'm very glad to be living that moment with you, and I have to say, I'm getting old too. Like, very old. Like changing two numbers instead of just one this time.  
So, I was starting to thinking to think, since we are getting so old at the same time, maybe would be nice to get old together a little bit, at least until we like that? Of course very slowly, snail-carrying-two-turtles style. I don't know what do you think about it, but I feel I would really love that.  
<br><br>
Meanwhile, since snails and turtles are veeeery slow, I thought it would be nice to find some music to listen to, you know while the TurtSnailTeam goes on its way. So, you know I'm a researcher, so I really went around the whole internet to find and select the best ukulele music my hears could ear. Maybe you will like it, maybe would be inspirational for you, even if all these artists are ridicolous compared to your songwriting abilities. But still, who knows! So, I hope you will appreciate that :) 
<br><br>
Oh, one last thing,  <br>
happy birthday, my sweet Marie <3<br>

<iframe src="assets/howler.js-2.2.3/examples/player/index.html" id="player"></iframe>