<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  <head>
    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>{{ site.title }}{% if page.title and page.title != "" %} &mdash; {{ page.title }}{% endif %}</title>

    {% if site.description %}<meta name="description" content="{{ site.description }}">{% endif %}  

    <link rel="stylesheet" href="{{ '/assets/css/main.css' | absolute_url }}?{{ site.time | date: '%s%N' }}">
	<link rel="stylesheet" href="https://cdn.plyr.io/3.4.7/plyr.css">
    <link rel="apple-touch-icon" href="{{ site.icon }}">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.2.3/howler.min.js"></script>
  </head>
  <body>


    {% if page.layout == 'home' %}
      <a href="#main" class="skip-navigation">
        Skip to list of posts
      </a>
    {% else %}
      <a href="#main" class="skip-navigation">
        Skip to content
      </a>
    {% endif %}

    {{ content }}

<!--     {% unless site.hide_credits %}
      <aside class="site-credits">
        <p>
          <small><a href="https://github.com/patdryburgh/hitchens">Hitchens Theme</a> powered by <a href="http://jekyllrb.com">Jekyll</a></small>
        </p>
      </aside>
    {% endunless %} -->
  </body>
</html>